:root {
    --animation: fadein_top;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans', 'Ubuntu', sans-serif;
}

.container {
    width: 100%;
    height: 500%;
    position: absolute;
    top: 0;
    transition: all 0.7s ease-in-out;
}


.section1 {
    background-color: red;

}

.section2 {
    background-color: skyblue;

}

.section3 {
    background-color: red;

}

.section4 {
    background-color: orange;

}

.section5 {
    background-color: lightgreen;

}

.section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(1,4,9);
    transition: 1s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, sans-serif;
}

.section {
    width: 100%;
    height: 20%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-size: cover;
}


.controls {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 55px;
    list-style: none;
}

.index {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 5px;
    list-style: none;
    color: white;
}


.index li {
    color: white;
    margin-bottom: 14px;
}

.controls li {
    color: white;
    width: 7px;
    height: 7px;
    border: 2px solid rgba(255, 255, 255, 0.644);
    border-radius: 50%;
}


.controls li+li {
    margin-top: 20px;
}

.controls li.wholeactive {
    background-color: rgba(255, 255, 255, 0.877);
}

.transverse-list {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
}

.transverse-list li {
    float: left;
}

.transverse-list button {
    margin-right: 2px;
    border-radius: 15px 15px 0px 0px;
    padding: 14px 16px;
}

.aboutus div {
    display: none;
}

.aboutus .action {
    display: block;
    animation-duration: 2s;
    animation-name: fadein;
}

.Vertical-list {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
}

.ourproject button {
    margin-bottom: 2px;
    border-radius: 0px 15px 15px 0px;
    padding: 14px 16px;
}

.ourproject div {
    display: none;
}

.ourproject .action {
    display: inline-block;
    animation-duration: 2s;
    animation-name: fadein;
}

.icon {
    max-width: 30%;
    border-radius: 10px;
    height: auto;
    filter: drop-shadow(50px 25px 4px #cd1821);
    flex: 1;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.icon_text {
    flex: 1;
    right: 0;
    text-align: center;
    word-wrap: unset;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fade{
    animation-duration: 2s;
    animation-name: var(--animation);
}